[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/data/data/com.termux/files/home/Desktop/Byobu.desktop]
row=2
col=0

[/data/data/com.termux/files/home/Desktop/xfce4-terminal.desktop]
row=3
col=0

[/data/data/com.termux/files/home/Desktop/Alpine VM.desktop]
row=4
col=0

[/data/data/com.termux/files/home/Desktop/XServer XSDL.desktop]
row=5
col=0

[/]
row=0
col=0

[/data/data/com.termux/files/home]
row=1
col=0

